[Desktop Entry]
Type=Application
Name=RivalCfg Tray
Comment=SteelSeries Mouse Tray & Config GUI
Exec=rivalcfg-tray
Icon=com.example.rivalcfgtray
Terminal=false
Categories=Utility;